# MongoDB com Python

In [ ]:
!pip install pymongo

In [ ]:
from pymongo import MongoClient

In [ ]:
conn = MongoClient('10.0.1.245',27017)

In [ ]:
conn.list_database_names()

In [ ]:
db = conn.empresa
db.name

In [ ]:
db.list_collection_names()

In [ ]:
produto1 =   {  "item": "Celular A8",
                "status": "Ativo",
                "vendas": { "2017": 1500, "2018": 1765, "classificacao": "Excelente" },
                "valor": 1800.90,
                "estoque": [ { "galpao": "A", "qtd": 34 } ] }

In [ ]:
type(produto1)

In [ ]:
coll_exemplo = db.produtos
coll_exemplo

In [ ]:
coll_exemplo.find_one({})

print(produto1)

In [ ]:
coll_exemplo.insert_one(produto1)

In [24]:
print(coll_exemplo)

Collection(Database(MongoClient(host=['10.0.1.245:27017'], document_class=dict, tz_aware=False, connect=True), 'empresa'), 'produtos')

In [25]:
coll_exemplo.find_one({})

{'_id': ObjectId('5e7219ed51047cdcb0cedeee'),
 'item': 'Celular A8',
 'status': 'Ativo',
 'vendas': {'2017': 1500, '2018': 1765, 'classificacao': 'Excelente'},
 'valor': 1800.9,
 'estoque': [{'galpao': 'A', 'qtd': 34}]}

In [26]:
produto2 =    {     "item": "Notebook Pan",
                    "status": "Ativo", 
                    "vendas": { "2017": 30, "2018": 50, "classificacao": "Bom" },
                    "valor": 2560.00,
                    "estoque": [ { "galpao": "C", "qtd": 15 } ] }

coll_exemplo.insert_one(produto2)

In [28]:
coll_exemplo.find()

In [29]:
documentos = coll_exemplo.find()
type(documentos)

pymongo.cursor.Cursor

In [30]:
for doc in coll_exemplo.find():
    print(doc)

{'_id': ObjectId('5e7219ed51047cdcb0cedeee'), 'item': 'Celular A8', 'status': 'Ativo', 'vendas': {'2017': 1500, '2018': 1765, 'classificacao': 'Excelente'}, 'valor': 1800.9, 'estoque': [{'galpao': 'A', 'qtd': 34}]}
{'_id': ObjectId('5e721a7d51047cdcb0cedeef'), 'item': 'Notebook Pan', 'status': 'Ativo', 'vendas': {'2017': 30, '2018': 50, 'classificacao': 'Bom'}, 'valor': 2560.0, 'estoque': [{'galpao': 'C', 'qtd': 15}]}

In [31]:
aluno = { 
            "nome" : "João Nunes",
            "notas" : [9.6, 8.9, 10.0] 
        }

In [32]:
db.estudantes.insert_one(aluno)

In [33]:
colecao = db['estudantes']

In [34]:
type(colecao)

pymongo.collection.Collection

In [35]:
colecao.estimated_document_count()

1

In [36]:
colecao.find_one()

{'_id': ObjectId('5e721cec51047cdcb0cedef0'),
 'nome': 'João Nunes',
 'notas': [9.6, 8.9, 10.0]}

In [37]:
for i in colecao.find():
    print(i)

{'_id': ObjectId('5e721cec51047cdcb0cedef0'), 'nome': 'João Nunes', 'notas': [9.6, 8.9, 10.0]}