## Base CSV

In [2]:
import pandas as pd

In [3]:
base = pd.read_csv('D:/talend/TOS_DI-20190620_1446-V7.2.1/workspace/qtd_vezes_foi_ao_mcdonalds.csv',sep=';')
base.head()

  PrimeiroNome  SobreNome      Cidade        Data  QtdComeu
0        Jimmy   McKinley  Saint Paul  26-10-2017         4
1      William   McKinley    Santa Fe  23-08-2018        35
2       Martin  Roosevelt  Charleston  08-03-2018       100
3       Warren      Hayes  Harrisburg  21-04-2017         0
4      Ulysses  Roosevelt  Des Moines  30-10-2016        81

In [7]:
base.count()

PrimeiroNome    10000000
SobreNome       10000000
Cidade          10000000
Data            10000000
QtdComeu        10000000
dtype: int64